/*Root setup*/
:root{
    /*color*/
    --ColorRed : #E62542;
    --ColorBlue: #4854A0;
    --ColorGreen: #538354;
    --ColorLightBG: #F9F9F9;
    --ColorDarkBG: #23313B;
    /*font*/
    --fontHeading : 'Josefin Sans', sans-serif;
    --fontParagraf: 'Labrada', serif;
    /*size*/
}
/* Font import */

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(font/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_N_XbMhhLzTs.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(font/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_N_XbMZhLw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Labrada';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(font/ieVh2Y9HLWefIpOyF1Vi3ZqDss1Px9VTSjMxSvZkeg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Labrada';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(font/ieVh2Y9HLWefIpOyF1Vi3ZqDss1Px9VTSjM_SvY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Labrada';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(font/ieVv2Y9HLWefIpOyPVxQIkLq2VfhwMCbCOt7evp8fh17.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Labrada';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(font/ieVv2Y9HLWefIpOyPVxQIkLq2VfhwMCbCOt7evR8fg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Labrada';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(font/ieVh2Y9HLWefIpOyF1Vi3ZqDss1Px9VTSzMxSvZkeg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Labrada';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(font/ieVh2Y9HLWefIpOyF1Vi3ZqDss1Px9VTSzM_SvY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 {
    font-family: 'Josefin Sans', serif;
    font-size: 2rem;
    color: var(--ColorDarkBG);
}
h2{
    font-family: 'Josefin Sans', serif;
    font-size: 2rem;
    color: var(--ColorDarkBG);
}

h3 {
    font-family: 'Josefin Sans', serif;
    font-size: 1.125rem;
    color: var(--ColorDarkBG);
}
h6,.MuiTypography-h6, .css-10hburv-MuiTypography-root {
    font-family: 'Josefin Sans', serif !important;
    color: var(--ColorDarkBG);
    font-size: 18px!important;
}
.MuiBox-root > h6 {
    text-align: center!important;
    padding-left: 25px ;
}
.MuiButton-textPrimary {
    font-family: 'Josefin Sans', serif !important;
    text-decoration: underline;

}
p, li {
    font-family: 'Labrada', serif;
    font-size: 1.5rem;
    color: var(--ColorDarkBG);
    margin-top: 0!important;
}
a {
    color: var(--ColorRed);
}

i {
    color: var(--ColorGreen);
}
.contentWrapper {
    margin: auto;
}
@media screen and (min-width: 400px){
    .col90 {
        width: 90%;
    }
    .col60 {
        width: 90%;
    }
    .col30 {
        width: 90%;
    }
}
.col90 {
    width: 90%;
}
.col60 {
    width: 60%;
}
.col30 {
    width: 30%;
}

body{
    background: var(--ColorLightBG) !important;
}

img, iframe{
    width: 100%;

}
iframe{
    height: 500px;
}



.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    background-color: #F9F9F9!important;
    color: var(--ColorDarkBG)!important;
}

/*setup for the footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ColorLightBG);
    color: var(--ColorDarkBG);
    margin-top: 30px;
    border-top: 1px solid #23313B2E;

}
.footerBtnText {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Labrada', serif !important;
    color: var(--ColorDarkBG);
}
html {
    scroll-behavior: smooth;
}

[id]::before {
    content: '';
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
}

#imageGrid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}
#imageGrid div {
    margin-right: 10px;
    margin-left: 10px;

}

#imageGrid img {
    width: 40px;
    max-height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    cursor: pointer;

             }

.overlay__background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
}

.overlay__container {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    padding: 30px;
    width: fit-content;
    height: fit-content;
}

.overlay__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.overlay__close:after {
    display: inline-block;
    content: "\00d7";
}

.overlay__close {
    border: none;
    background-color: transparent;
    font-size: 36px;
    cursor: pointer;
}
.css-10hburv-MuiTypography-root {

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cover {
    height:40%;
    width: 50%;
}
.cover > img {
    position: relative;
    left: 100%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -75px;
    max-width: 100vw;
    width: 100vw;
}
.contentCover {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    background: rgba(241, 241, 241, 0.93);
    border-radius: 5px;
    margin: 30px;
    padding: 30px;
}
h4 {
    font-family: 'Josefin Sans', serif;
}
.contentCover > h4,  .contentCover > a, .contentCover > p {
    color: var(--ColorDarkBG);
    font-size: medium;
}
.politicalComments > p{
    font-size: 1.0rem;
}